/* material design color theme "Indigo 50" */
$colorThemeBlue0: #E8EAF6; /* => Indigo 50 */
$colorThemeBlue1: #C5CAE9; /* => 100 */
$colorThemeBlue2: #9FA8DA; /* => 200 */
$colorThemeBlue3: #7986CB; /* => 300 */
$colorThemeBlue4: #5C6BC0; /* => 400 */
$colorThemeBlue5: #3F51B5; /* => 500 */
$colorThemeBlue6: #3949AB; /* => 600 */

$colorThemeBlue7: #303F9F; /* => 700 */

/* box shadow */
$colorDarkestGrey: #222;
$colorDarkGrey: #333;
$colorMediumGrey: #888;

/* standard colors */
$colorWhite: #fff;
$colorBlack: #000;

/* defaults */
$headerHeight: 80px;
$backgroundColor: #E3F2FD;
